.container {
  text-align: center;
  .landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    opacity: 1;
    transition: opacity 0.5s ease;
    &.hide {
      // display: none;
      opacity: 0;
    }
  }
  .moon {
    position: absolute;

    background: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: all 0.5s ease;
    &.3 {
      top: 70%;
      left: 75%;
    }
    p {
      display: none;
    }
    &:hover {
      background: grey;
      width: 200px;
      height: 200px;
      p {
        display: inline;
      }
    }
  }
}

.globe-container {
  z-index: 10;
  transition: transform 0.5s ease;
  &.default {
    transform: translateY(0);
  }

  &.scrolled-up {
    transform: translateY(-70%);
  }
}
