.container {
  text-align: center;
  .landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    opacity: 1;
    transition: opacity 0.5s ease;
    &.hide {
      // display: none;
      opacity: 0;
    }
  }
  .globe-container {
    z-index: 10;
    transition: transform 0.5s ease;
    &.default {
      transform: translateY(0);
    }
    &.scrolled-up {
      transform: translateY(-70%);
    }
    .planet-container {
      &.default {
        visibility: hidden;
        opacity: 0;
      }
      &.scrolled-up {
        transition: opacity 1s ease-in;
      }
      .moon {
        position: absolute;
        background: white;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        transition: all 0.5s ease-in;
        &.\30 {
          top: 0%;
          left: 14%;
          background: #9d5c63;
        }
        &.\31 {
          top: 35%;
          left: 75%;
          background: #fcd167;
        }
        &.\32 {
          top: 70%;
          left: 14%;
          background: #6a65b3;
        }
        p {
          display: none;
        }
        &:hover {
          background: #d6e3f8;
          width: 200px;
          height: 200px;
          p {
            display: inline;
          }
        }
      }
    }
  }
}
