.globe {
    /*  position: absolute;
  bottom: 0;
  text-align: center; */
   /*  background: brown;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 width: 100%;
 height: 100%; */
    /* display: block;
  text-align: center;
  top: 50%; */
}